:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(54, 37, 66);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    gap: 200px;
    margin: 0;
}

.post-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 10px;
    grid-column: 2;
}

.posts {
    border: solid 5px rgb(179, 133, 219);
    width: 600px;
    height: 800px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 0;
    box-sizing: border-box;
}

.post-header {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 600px;
}

.pfp {
    width: 100px;
    display: flex;
}

.picture {
    width: 100%;
    padding: 10px;    
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 38px;
    padding: 0 0 0 20px;
    color: rgb(207, 229, 255);
}

.tag {
    font-size: 20px;
    padding: 0 0 0 20px;
    color: rgba(207, 229, 255, 0.505);
    margin-top: 5px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgb(207, 229, 255);
    font-size: 40px;
    background-color: rgba(3, 6, 12, 0.388);
    align-items: center;
    padding: 80px 80px 80px 80px;
    justify-content: center;
}

.highlight {
    color: rgb(253, 246, 199);
    filter: blur(0.5px);
}

.comment {
    background-color: rgba(212, 163, 255, 0.16);
    padding: 20px;
    margin-top: 10%;
}