:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.forgot-pass {
    color: rgb(131, 33, 217);
    margin-top: 10px;
    width: fit-content;
}

.forgot-pass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.forgot-pass:active{
    filter: brightness(0.7);
}

.primary-button {
    border-radius: 10px;
    border: solid rgb(131, 33, 217);
    background-color: white;
    color: rgb(131, 33, 217);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding: 5px 80px 5px 80px;
    transition: all 0.15s;
}

.primary-button:hover {
    background-color: rgb(131, 33, 217);
    color: white;
}

.primary-button:active {
    filter: brightness(0.9);
}

.txtbox {
    font-size: 15px;
    width: 300px;
    border-radius: 10px;
    border: solid rgb(131, 33, 217);
    padding: 5px 0 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.176);
}